::selection {
  background: #213;
  color: coral;
}

:root {
  color: #050305;
  background-color: violet;
  background-image: linear-gradient(.666turn, orchid, darkorchid, violet);
}

:any-link { color: currentColor }
:focus { outline-color: currentColor }
