::selection {
  background: #eec;
  color: rebeccapurple;
  text-shadow: none;
}

:root {
  color: #eec;
  background-color: darkviolet;
  background-image: linear-gradient(.666turn, darkorchid, darkviolet);
}

:any-link {
  text-shadow: 0 -1ch 0 blueviolet;
  color: inherit;
}

:focus {
  outline-color: currentColor;
}

.amber {
  text-shadow: 0 -1ch 0 #f69;
}

@media (prefers-contrast: more) {
  :root {
    background-image: linear-gradient(.666turn, #518, #318);
  }
}